
button{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 19, 192, 0.87);
    font: normal 12pt Arial;
    border-radius: 10px;
    
}
button:hover{
    background: rgba(0, 19, 192, 0.87);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


body{
            background-color: rgb(108, 108, 211);
            color: rgb(0, 0, 0);  
            font: normal 14pt Arial;
            
        }                              
        h1{
            color: rgb(255, 255, 255);  
        }